/*Feel free to base your css off of here (just don't use my images)*/

/*Main Server Background*/
body 	
{
background-image:url('http://i.imgur.com/SDqMrEE.jpg');
background-repeat:no-repeat;
background-position:center fixed;
}

a:link {color:#166fb8;}      /* unvisited link */
a:visited {color:#45439b;}  /* visited link */
a:hover {color:#d32027;}  /* mouse over link */
a:active {color:#a11d21;}  /* selected link */

/*Chat Background (e.g. Lobby)*/
.chat-log {
    	font-size: 10pt;
    	/**background: url("http://i.imgur.com/GciBjYm.png") no-repeat scroll right top;**/
    	background: url("http://i.imgur.com/hjwUe5L.jpg") no-repeat right top;
    	color: rgb(255,255,255);
    	opacity: 1;
    	border-left: 1px solid rgb(95, 200, 255);
    	overflow: auto;
}

/*Battle Chat Background*/
.battle-log {
	position: absolute;
	text-align: left;
	background: url(http://i.imgur.com/xuri0fl.jpg) repeat-y center scroll;
	color: black;
	top: 9px;
	left: 640px;
	right: -1px;
	height: 360px;
	font-family: Verdana,sans-serif;
	font-size: 10pt;
	overflow: auto;
	overflow-y: scroll;
}

/*Battle Chatbar*/
/*.battle-log-add {
    	position: absolute;
    	background: url(http://i.imgur.com/zwznJUE.png) repeat-x left top;
    	bottom: 0px;
    	color:rgb(0,0,0);
    	right: 0px;
    	min-height: 36px;
    	padding: 3px 4px 0px;
	border-top: 1px solid rgb(95, 200, 255);
}

/*Userbar to the left of the Chat*/
.userlist {
	border-left: 1px solid rgb(0, 0, 0);
	border-right: 1px solid rgb(95, 200, 255);
	background: url(http://i.imgur.com/b514QgZ.gif) repeat-y  scroll left top;
}

/*Username text (not sure if it works)*/
.userlist .username {
	text-shadow: 1px 1px rgb(255, 255, 255);
}

/*Main Chatbar*/
/*.chat-log-add {
    	position: absolute;
    	background: url(http://i.imgur.com/zwznJUE.png) repeat-x left top;
    	bottom: 0px;
    	right: 0px;
    	min-height: 36px;
    	padding: 3px 4px 0px;
    	border-top: 1px solid rgb(95, 200, 255);
}

/*"Look for a battle" buttons (when hovered over)*/
/*.menugroup .button:hover {
   	background: url(http://i.imgur.com/sIpUG0t.png) center;
   	border-color: rgb(32, 53, 74);
   	opacity: 0.8;
}

/*"Look for a battle" buttons*/
.menugroup .button {
    	opacity: 1;
    	font-size: 14pt;
    	font-family: "Rockwell, Times New Roman, Times, serif";
    	display: inline-block;
    	padding: 2px;
    	width: 200px;
    	text-align: center;
    	text-decoration: none;
    	color: rgb(255, 255, 255);
    	border: 1px solid rgb(170, 170, 170);
    	background: url(http://i.imgur.com/ukhiESy.gif) center; 
    	/*none repeat scroll 0% 0% rgb(189, 82, 127);*/
}

/*Elite Five's custom button*/
/*input this: <a href="league-inc.weebly.com" class="rb">Official Website</a>*/
<style type="text/css">
.rb {
	-moz-box-shadow:inset 0px 0px 18px 0px #ff5762;
	-webkit-box-shadow:inset 0px 0px 18px 0px #ff5762;
	box-shadow:inset 0px 0px 18px 0px #ff5762;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ed1c23), color-stop(1, #c50000) );
	background:-moz-linear-gradient( center top, #ed1c23 5%, #c50000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c23', endColorstr='#c50000');
	background-color:#ed1c23;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #ff5762;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:105px;
	text-decoration:none;
	text-align:center;
}
.rb:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c50000), color-stop(1, #ed1c23) );
	background:-moz-linear-gradient( center top, #c50000 5%, #ed1c23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c50000', endColorstr='#ed1c23');
	background-color:#c50000;
}.rb:active {
	position:relative;
	top:1px;
}</style>

/*Room tabs (e.g. Lobby and +) and Teambuilder background*/
.ps-room.ps-room-light {
	background:url(http://i.imgur.com/Nns5nik.png) center top;
	color: #000000;
}

/*Current room tab*/
.tabbar a.button.cur,.tabbar a.button.cur:hover {
	color: #e1e1e1;
	text-shadow:none;
	background: url(http://i.imgur.com/PCS1aNk.png) center top;
	cursor: default;
}

/*Room tabs (e.g. Lobby and +) and Teambuilder background*/
.tabbar a.button {
	background:url(http://i.imgur.com/AYRQ8oJ.png) center top;
	color: #000000;
}

/*PM Box Background*/
.pm-log {
	min-height: 100px;
	max-height: 300px;
	background: url(http://i.imgur.com/PCS1aNk.png) center top scroll;
	color: #ffffff;
	word-wrap: break-word;
	overflow: auto;
	border: 0px solid #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

/*Name Bar (idle)*/
.pm-window h3 {
	background: url(http://i.imgur.com/PCS1aNk.png) center scroll;
	color: #ffffff;
	margin: 0;
	font-size: 11pt;
	cursor: pointer;
	border: 0px solid #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

/*idk yet*/
.pm-window. focused h3 {
	background: url(http://i.imgur.com/PCS1aNk.png) center top scroll;
	color: #ffffff;
	border: 0px solid #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: default;
}

/*Message Bar (idle)*/
.pm-log-add {
	background: url(http://i.imgur.com/PCS1aNk.png) center top scroll;
	color: #ffffff;
	border: 0px solid #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

/*Message bar (active)*/
.pm-window.focused .pm-log-add {
	background: url(http://i.imgur.com/PCS1aNk.png) center scroll;
	color: #000000;
	border: 0px solid #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

/*Name Bar (active)*/
.pm-window.focused h3, .pm-window.focused h3:hover {
	background: url(http://i.imgur.com/aHFaqHb.png) center scroll;
	color: #000000;
	margin: 0;
	padding: 2px 5px;
	font-size: 11pt;
	border: 0px solid #000000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: pointer;
}
